@page "/fornecedores"
@inherits ListSupplierPage

<PageTitle> Fornecedores | EcoManage</PageTitle>

<MudText Typo="Typo.h3" Class="d-flex center">Fornecedores</MudText>

<div class="d-flex justify-end">

    <MudButton Href="/fornecedores/adicionar" Variant="Variant.Filled" Class="pa-2" Size="Size.Medium" Color="Color.Primary" StartIcon="@Icons.Material.TwoTone.AddBusiness">
        Cadastrar Fornecedor
    </MudButton>
</div>


    <MudDataGrid Items="@Suppliers" Filterable="false" Class="mt-4">

        <Columns>

            <PropertyColumn Property="x => x.Id" Title="#" Sortable="false"></PropertyColumn>
            
            <a><PropertyColumn Property="x => x.CompanyName" Title="Fornecedor"  Filterable="false" Sortable="false"></PropertyColumn></a>
            
            <PropertyColumn Title="CNPJ" Property="x => x.Document.ToString()" Filterable="false" Sortable="false"></PropertyColumn>

            <PropertyColumn Property="x => x.Email.Address" Title="E-MAIL" Filterable="false" Sortable="false"></PropertyColumn>

            <TemplateColumn Class="d-flex justify-end pa-8">
                <CellTemplate>

                    <MudStack Row Class="justify-end">
                        
                        <MudButton Variant="Variant.Text" StartIcon="@Icons.Material.TwoTone.Info" IconSize="Size.Small" Href="@($"/fornecedores/{context.Item.Id}")">
                            Mais Detalhes
                        </MudButton>
                        
                        <MudButton StartIcon="@Icons.Material.TwoTone.EditNote" Href="@($"/fornecedores/editar/{context.Item.Id}")" Color="Color.Info">
                            Editar
                        </MudButton>
                        
                        <MudButton StartIcon="@Icons.Material.TwoTone.DeleteForever" OnClick="() => OnDeleteButtonAsync(context.Item.Id,context.Item.CompanyName)" Color="Color.Error">
                            Excluir
                        </MudButton>

                    </MudStack>
                </CellTemplate>
            </TemplateColumn>

        </Columns>

    </MudDataGrid>

